<div class="row pt-4" @*style="background-color:antiquewhite"*@>
	<h3>Fotoğraf ve Video</h3>
	<div class="col-md-12 border-success border-4 h-25 d-inline-block border-top d-flex flex-row">
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
			</ul>
		</div>
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
			</ul>
		</div>
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
			</ul>
		</div>
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
			</ul>
		</div>
		
	</div>
</div>