@{
	Layout = "_LayoutOthers";
}

 
<div class="row">
	<form class="d-flex" id="searchNavbar">
		<input class="form-control" type="search" placeholder="Bana İstediğini Sorabilirsin..." aria-label="Search">
		<button class="btn btn-success" type="submit">Ara</button>
	</form>
	<partial name="_Navbar" />

    <img style="width:100rem; height:500px;" src="~/images/KaliteliHizmet.jpg" alt="" />

</div>


<div class="row pt-4" @*style="background-color:antiquewhite"*@>
	<h3>Fotoğraf ve Video</h3>
	<div class="col-md-12 border-success border-3 h-25 d-inline-block border-top border-start border-end border-bottom d-flex flex-row">
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
			</ul>
		</div>
		<div class="col-md-3 d-inline ">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
			</ul>
		</div>
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
			</ul>
		</div>
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Bebek Fotoğrafçısı</a></li>
			</ul>
		</div>
		
	</div>
</div>



<div class="row pt-4" @*style="background-color:antiquewhite"*@>
	<h3>Dijital ve Kurumsal</h3>
	<div class="col-md-12 border-success border-3 h-25 d-inline-block border-top border-start border-end border-bottom d-flex flex-row">
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Grafik Tasarım</a></li>		
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Moda Tasarım</a></li>			
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Metin Yazarı</a></li>			
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Seslendirme</a></li>
            </ul>
        </div>
		</div>
</div>



<div class="row pt-4" @*style="background-color:antiquewhite"*@>
	<h3>Evcil Hayvanlar</h3>
	<div class="col-md-12 border-success border-3 h-25 d-inline-block border-start border-end border-bottom border-top d-flex flex-row">
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Köpek Pansiyonu</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Köpek Pansiyonu</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Köpek Pansiyonu</a></li>		
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Kedi Bakımı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Kedi Bakımı</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Kedi Bakımı</a></li>					
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Köpek Eğitimi</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Köpek Eğitimi</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Köpek Eğitimi</a></li>			
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Köpek Gezdirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Köpek Gezdirme</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Köpek Gezdirme</a></li>			
			</ul>
		</div>
		</div>
</div>


<div class="row pt-4" @*style="background-color:antiquewhite"*@>
	<h3>Oto ve Araç</h3>
	<div class="col-md-12 border-success border-3 h-25 d-inline-block border-start border-end border-bottom border-top d-flex flex-row">
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Araç Bakım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Araç Bakım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Araç Bakım</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Araç Bakım</a></li>					
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Motor Yağ Değişimi</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Motor Yağ Değişimi</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Motor Yağ Değişimi</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Motor Yağ Değişimi</a></li>							
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Oto Boya</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Oto Boya</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Oto Boya</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Oto Boya</a></li>						
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Oto Kuaför</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Oto Kuaför</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Oto Kuaför</a></li>
				<li><a class="text-decoration-none text-dark" href="#">Oto Kuaför</a></li>						
			</ul>
		</div>
		</div>
</div>



<div class="row pt-4" @*style="background-color:antiquewhite"*@>
	<h3>Diğer</h3>
	<div class="col-md-12 border-success border-3 h-25 d-inline-block border-start border-end border-bottom border-top d-flex flex-row">
		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Emlak Satış Danışmanı</a></li>		
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Emlak Satış Danışmanı</a></li>
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Emlak Satış Danışmanı</a></li>
			</ul>
		</div>

		<div class="col-md-3 d-inline">
			<ul class="w-100 h-100" style="list-style-type: none">
				<li><a class="text-decoration-none text-dark" href="#">Emlak Satış Danışmanı</a></li>		
			</ul>
		</div>
	</div>
</div>









