@{
    Layout = "_LayoutHelp";
}


<nav class="navbar">
    <div class="container margin:1px">
        <a class="navbar">
            <img style="height:70px; width:70px" src="/images/Elma.jpg" alt="" />

        </a>
        <form>
            <button class="btn btn-outline-success" type="submit">Oturum Aç</button>
        </form>
    </div>
</nav>

<div style="background-image: url('/wwwroot/images/elsıkışma.jpg'); background-size: cover; background-position: center; height: 100vh;">


    @*<img src="/images/KaliteliHizmet.jpg" class="img-fluid placeholder:25" style="width:100%; height:250px" alt="...">*@

</div>
<div class="row">
    <div class="container">

        <div class="d-flex justify-content-evenly" >


            <a style="width: 400px; height:150px" type="button" class="btn btn-primary btn-lg" href="#"><br />EV TEMİZLİĞİ YA DA MASAJ <br /> HEMEN REZERVASYON TALEBİ İÇİN <br /> <br /> </a>


            <a style="width: 400px; height:150px" type="button" class="btn btn-primary btn-lg" href="#"><br /><br /> HİZMET ALANLAR İÇİN <br /> <br /> </a>


            <a style="width: 400px; height:150px" type="button" class="btn btn-primary btn-lg" href="#"><br /><br /> HİZMET VERENLER İÇİN <br /> <br /> </a>
           
        </div>
    </div>
</div>