@{
    Layout = "_LayoutHelp";
}


<nav class="navbar">
    <div class="container margin:1px">
        <a class="navbar">
            <img style="height:70px; width:70px" src="/images/Elma.jpg" alt="" />

        </a>
        <form>
            <button class="btn btn-outline-success" type="submit">Oturum Aç</button>
        </form>
    </div>
</nav>

<br />
<div class="rounded mx-auto d-block" style="background-color: red; background-size: cover; width:90%; height: 70vh;">

    <img style="width: 100%; height: 70vh" src="~/images/helpfoto.jpg" />

    @*<img src="/images/KaliteliHizmet.jpg" class="img-fluid placeholder:25" style="width:100%; height:250px" alt="...">*@

</div>

<br />
<br />
<br />
<div class="row">
    <div class="container">

        <div class="d-flex justify-content-evenly">


            <a style="width: 400px; height:150px" type="button" class="btn btn-primary btn-lg" href="#"><br />EV TEMİZLİĞİ YA DA MASAJ <br /> HEMEN REZERVASYON TALEBİ İÇİN <br /> <br /> </a>


            <a style="width: 400px; height:150px" type="button" class="btn btn-primary btn-lg" href="#"><br /><br /> HİZMET ALANLAR İÇİN <br /> <br /> </a>


            <a style="width: 400px; height:150px" type="button" class="btn btn-primary btn-lg" href="#"><br /><br /> HİZMET VERENLER İÇİN <br /> <br /> </a>

        </div>
    </div>
</div>

<br />
<br />
<div class="text-center">
    <h3>Sıkça Sorulan Sorular</h3>
</div>

<div class="row">
    <div class="container">
        <div class="accordion" id="accordionExample">


            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Hesabımı Nasıl Dondurabilirim?</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>1. Hesabım > Veri ve Gizlilik</strong>’e tıklayın. <br />
                        <strong>2. Hesabımı Dondur</strong> seçeneğini seçin. <br />
                        Tüm adımları tamamladıktan hesap dondurma isteğini gözden geçirip en kısa sürede sana e-posta ile dönüş yapacağız. <br />
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong>Hesabımı Nasıl Silebilirim?</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>1. Hesabım>Veri ve Gizlilik</strong>’e tıklayın. <br />
                        <strong>2. Hesabımı Sil</strong> seçeneğini seçin.<br />
                        Tüm adımları tamamladıktan hesap silme isteğini gözden geçirip en kısa sürede sana email ile dönüş yapacağız.<br /><br />
                        Eğer sadece geçici süre Elma'yı' kullanmaya ara vereceksen hesabını dondurmanı öneririz. Bu sayede istediğin zaman aynı bilgilerle hesabını kullanmaya devam edebilirsin.
                        <br />
                        Hesabını dondurmak istersen linke tıklayabilirsin: <a href="">Hesabımı nasıl dondurabilirim?</a>
                    </div>
                </div>
            </div>




            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Dondurduğum Hesabımı Daha Sonra Nasıl Aktifleştirebilirim?</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Bunun için hesabına giriş yapman yeterli. Yeniden kullanmak istediğinde hesabına giriş yapıp aktifleştirebilir ve aynı bilgilerle devam edebilirsin.
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                        <strong>Hesap Dondurmanın Bir Süresi Var Mı?</strong>
                    </button>
                </h2>
                <div id="collapseFor" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Hayır, hesabını istediğin kadar dondurabilirsin. Daha sonra tekrar giriş yaparak hesabını aktifleştirebilirsin.
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <strong>Ödeme Nasıl Yapılıyor?</strong>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Ödemeyi kredi kartınla yapıyorsun.
                        <br />
                        Ödeme alımı için en üst seviye PCI-DSS (Ödeme Kartı Sektör Veri Güvenliği Standardı) sertifikalı ödeme platfomu Iyzico ile çalışıyoruz.
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <strong>Ödeme Ne Zaman Yapılıyor?</strong>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        İlk rezervasyonunda kredi kartı geçerliliğini teyit etmek için rezervasyon yaparken, tekrar eden hizmetlerinde ise randevuna 1 gün kala ödeme alıyoruz. Ödemeni işten sonra hizmet verene aktarıyoruz.
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <strong>Ödeme Nakit Olarak Yapılıyor Mu?</strong>
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Sadece kredi kartı ile hizmet veriyoruz. Kullanıcılarımızın çoğu düzenli hizmet aldığı için modelimizi ona göre kurduk. Ödeme ve rezervasyon kesinliği ile ilgili bir şey düşünmenize gerek kalmıyor ve elden para transferinin getirebileceği ekstra zorlukları ortadan kaldırabiliyoruz.
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <strong>Hesabıma Nasıl Bakiye Yükleyebilirim?</strong>
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Hesabına bakiye yüklemek çok kolay. Hesabına giriş yaptıktan sonra hesabım sayfasında yer alan bakiye kısmına tıklayarak, kredi kartı veya bankamatik kartınla hızlı şekilde yükleme yapabilirsin. Ödeme işlemini kredi kartı veya bankamatik kartı ile yapabiliyorsun ancak sanal kart ile şimdilik bakiye yüklemesi yapılamıyor.
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        <strong>Müşterinin İşin Parasını Ödememesi Durumunda Ne Oluyor?</strong>
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Armut dışında kazanılan tüm işlerde olduğu gibi, Armut'tan kazandığın işler için de müşterilerin ile bir sözleşme yapmanı öneriyoruz. Tahsilatın tutarı, zamanlaması ve ödeme kanalının net bir şekilde belirlenmesi için sözleşme yapılmasının önemli olduğunu düşünüyoruz.
                        <br />
                        Armut olarak müşterilerden gelen taleplerin en doğru hizmet verenler ile eşleşmesine yardımcı oluyoruz, ancak işin kapsamı ve ödeme detaylarıyla ilgili tarafların kendi aralarında anlaşmalarını rica ediyoruz. Armut üzerinden kazanıp tamamladığın bir işte ödemeni alamadığın durumda sana elimizden geldiğince yardımcı olabilmemiz için bize haber vermen gerekiyor.
                    </div>
                </div>
            </div>





            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        <strong>Elma Nedir?</strong>
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Türkiye’nin en büyük online hizmet platformuyuz. Kaliteli ve güvenilir hizmet verenleri, hizmet almak isteyenlerle buluşturuyoruz. Bilgisayarın veya akıllı telefonunun üzerinden birkaç dokunuşla kaliteli hizmete kolayca ulaşmanı sağlıyoruz. Eskiden tanıdıklarına sorarak, sarı sayfalara bakarak veya telefonda uzun konuşmalarla bulduğun boyacı, fotoğrafçı ya da nakliyeci gibi profesyonelleri en kolay şekilde bulmanı sağlıyoruz.

                        Android / IOS mobil uygulamarımız ya da Armut.com üzerinden kolayca talep formunu doldurabilir, ücretsiz teklif almaya başlayabilirsin.
                    </div>
                </div>
            </div>




            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        <strong>Elma Nasıl Çalışıyor?</strong>
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>1.</strong>  Armut mobil uygulamalarında ve internet sitesinde yer alan arama kutucuğunu kullanarak birkaç saniye içinde kısa talep formunu doldurup ihtiyacını bizimle paylaşabilirsin

                        <br />
                        <strong>2.</strong> Armut oluşturduğun hizmet talebini, sana en uygun olan hizmet verenlerle paylaşır ve ğunlukla birkaç saat içerisinde, hizmet verenlerin tekliflerini iletmeye başlar. Teklif gelme süresi en fazla 3 gündür. Karar vermeden önce teklif sahiplerinin geçmişte tamamladığı işleri ve referanslarını inceleyebilir, soruların olduğu takdirde sistem üzerinden hizmet verenlerle mesajlaşabilir veya telefon yoluyla iletişime geçebilirsin.
                        <br />

                        <strong>3.</strong>  Hangi hizmet verenle çalışacağına karar verdiğin zaman 'Teklif Seç' butonunu kullanarak seçimini yapabilirsin.Hizmeti aldıktan sonra da hizmet veren için olumlu veya olumsuz yorumlarını yazarak hizmet kaliteni garanti altına alabilirsin.
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>

<br />  