@model List<SubCategory>

@{

    ViewData["Title"] = "Home Page";
}
<div class="col-md-12">
    <div class="row">
        @for (int i = 0; i < 16; i++)
        {
            <div class="col-md-3">

                <partial name="_Trends" />

            </div>
        }
    </div>
</div>
