.card {
    position: relative;
}

.hidden-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(100%) scale(0.9);
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 10px;
}

.card:hover .hidden-text {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.card-img-top {
    transition: transform 0.3s ease;
}

.card:hover .card-img-top,
.card:hover .card-header-pills,
.card:hover .card-text {
    transform: scale(0.9);
}

.hidden-text .btn {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
}
