html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {
    margin: 0;
    padding: 0;
    background: url('~/images/penguen.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
}


/*navbar ile  ilgili css kodlarý*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8;
    color: var(--white);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 3rem;
    z-index: 1;
}

    .navbar a {
        color: var(--white);
        padding: 1rem 2rem;
        margin: 0 .5rem;
    }

        .navbar a:hover {
            border-bottom: 2px solid var(--warning);
        }

    .navbar ul {
        display: flex;
    }

    .navbar span {
        color: var(--warning);
    }

    .navbar .brand {
        font-weight: 400;
    }

    .navbar h1 {
        font-size: 3rem;
    }
/* Search Butonu*/


#myImage {
    display: block;
    margin: 0 auto;
}

#myImage {
    max-height: 550px; /* Ýstenilen yükseklik deðeri */
}

#searchNavbar {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#searchNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.container {
    margin: 150px auto;
}

.tbsearchbar {
    padding-left: 10px;
    color: red;
    //To add some color.
}
