@model IEnumerable<ElmaProjesi.EntityLayer.Category>


@{
    Layout = "_LayoutAdmin";
}



<div class="row">
    <div class="col-md-12">
        <h1>Admin Kategori Sayfası</h1>
        <hr />
        <a href="/admin/categories/create" class="btn btn-primary btn-sm"> Kategori Ekle </a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr class="fw-bold">
                    <td style="width:30px">Id</td>
                    <td>Kategori Adı</td>
                    <td>Url</td>
                    <td style="width:150px"> </td>
                </tr>
            </thead>
            @*<tbody>
                @if (Model.Categories.Count() > 0)
                {
                    @foreach (var category in Model.Categories)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>@category.Url</td>
                            <td>
                                <a href="/admin/categories/@category.Id" class="btn btn-warning btn-sm"><i class="bi bi-card-list"></i></a>
                                <form action="/admin/deletecategory" method="post">
                                    <input type="hidden" name="Id" value="@category.Id" />
                                    <button style="display:inline;" type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>Listelenecek kategori bulunamadı.</h3>
                    </div>
                }

            </tbody>*@
        </table>
    </div>
</div>