@model SubCategoryListViewModel


@{
    Layout = "_LayoutAdmin";
}

<nav class="navbar">
    <div class="container margin:1px">
        <a class="navbar">
            <img style="height:70px; width:70px" src="/images/Elma.jpg" alt="" />

        </a>

    </div>
</nav>


<h1>Admin</h1>
<h4> Alt Kategoriler</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <a href="/admin/subcategorycreate" class="btn btn-primary btn-sm"> Alt Kategori Ekle </a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr class="fw-bold text-center">
                    <td style="width:30px">Id</td>
                    <td>Kategori Adı</td>
                    <td>Url</td>
                    <td style="width:300px"> </td>
                </tr>
            </thead>
            <tbody>
                @if (Model.SubCategories.Count() > 0)
                {
                    @foreach (var subCategory in Model.SubCategories)
                    {
                        <tr class="text-center">
                            <td>@subCategory.Id</td>
                            <td>@subCategory.Name</td>
                            <td>@subCategory.Url</td>
                            <td>
                                <a href="/admin/subcategoryedit/@subCategory.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-fill"></i> Güncelle</a>
                                <form action="/admin/subcategorydelete" method="post">
                                    <input type="hidden" name="Id" value="@subCategory.Id" />
                                    <button style="display:inline;" type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i> Sil</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>Listelenecek kategori bulunamadı.</h3>
                    </div>
                }

            </tbody>
        </table>
    </div>
</div>