
<div class="container-fluid footer-container" style="background-color: #212529;">
    <div class="row text-center">
        <div class="col-xs-12">
            <h5 class="footer-title">En Çok Aranan</h5>
        </div>
        <div class="col-xs-12">
            <div class="footer-links">
                <a class="text-decoration-none" href="#">İstanbul Boş Ev Temizliği,</a>
                <a class="text-decoration-none" href="#">İstanbul Boyacı,</a>
                <a class="text-decoration-none" href="#">İstanbul Parça Eşya Taşıma,</a>
                <a class="text-decoration-none" href="#">İstanbul Ev Temizliği,</a>
                <a class="text-decoration-none" href="#">Ankara Evden Eve Nakliyat,</a>
                <a class="text-decoration-none" href="#">İzmir Evden Eve Nakliyat,</a>
                <a class="text-decoration-none" href="#">İstanbul Organizasyon,</a>
                <a class="text-decoration-none" href="#">İstanbul Özel Ders,</a>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-3">
            <h5 class="footer-title">BİLGİ</h5>
            <ul class="footer-list">
                <li><a class="text-decoration-none" title="Nasıl Çalışır?" href="#">Nasıl Çalışır?</a></li>
                <li><a class="text-decoration-none" title="Yardım" href="#">Yardım</a></li>
                <li><a class="text-decoration-none" title="Blog" href="#">Blog</a></li>
                <li><a class="text-decoration-none" title="Hakkımızda" href="#">Hakkımızda</a></li>
                <li><a class="text-decoration-none" title="Kariyer" href="#">Kariyer</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3">
            <h5 class="footer-title">Hizmetler</h5>
            <ul class="footer-list">
                <li><a class="text-decoration-none" title="Ev Temizliği" href="#">Ev Temizliği</a></li>
                <li><a class="text-decoration-none" title="Evden Eve Nakliyat" href="#">Evden Eve Nakliyat</a></li>
                <li><a class="text-decoration-none" title="Boya Badana" href="#">Boya Badana</a></li>
                <li><a class="text-decoration-none" title="Usta Arıyorum" href="#">Usta Arıyorum</a></li>
                <li><a class="text-decoration-none" title="En Yakın" href="#">En Yakın</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3">
            <h5 class="footer-title">Fiyatlar</h5>
            <ul class="footer-list">
                <li><a class="text-decoration-none" href="#">Ev Temizliği Fiyatları</a></li>
                <li><a class="text-decoration-none" href="#">Evden Eve Nakliyat Fiyatları</a></li>
                <li><a class="text-decoration-none" href="#">Boya Badana Fiyatları</a></li>
                <li><a class="text-decoration-none" href="#">Online Psikolog Fiyatları</a></li>
                <li><a class="text-decoration-none" href="#">İngilizce Özel Ders Fiyatları</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3">
            <h5 class="footer-title">Bize Ulaşmak İçin</h5>
            <ul class="footer-list">
                <li><a class="text-decoration-none" href="mailto:destek@elma.com">destek@elma.com</a></li>
            </ul>
            <a href="#" class="text-decoration-none text-success">HİZMET VER</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p class="footer-info arabic-right" style="font-size: 14px; text-align: center;">
                <span id="lblYil">2023</span> Elma Teknoloji AŞ, Tüm Hakları Saklıdır &copy; 2022 -
            </p>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="social" style="text-align: center;">
                <a href="#" target="_blank">
                    <img src="/images/facebook.svg" style="filter: invert(1); margin-right: 10px;" alt="Facebook" />
                </a>

                <a href="#" target="_blank">
                    <img src="/images/youtube.svg" style="filter: invert(1); margin-right: 10px;" alt="YouTube" />
                </a>

                <a href="#" target="_blank">
                    <img src="/images/twitter.svg" style="filter: invert(1); margin-right: 10px;" alt="Twitter" />
                </a>

                <a href="#" target="_blank">
                    <img src="/images/linkedin.svg" style="filter: invert(1); margin-right: 10px;" alt="LinkedIn" />
                </a>

                <a href="#" target="_blank">
                    <img src="/images/instagram.svg" style="filter: invert(1); margin-right: 10px;" alt="Instagram" />
                </a>
            </div>
        </div>
    </div>
</div>
