

<div>
    <div class="row">

        <partial name="_Navbar" />


        <img background-image" id="myImage" src="~/images/Penguen-5.jpg" alt="Penguen Resmi" span="Hizmet Piş, Ağzıma Düş" />


        
        <form class="d-flex" id="searchNavbar">

            <input class="form-control" type="search" placeholder="Bana İstediğini Sorabilirsin..." aria-label="Search">
            <button class="btn btn-success" type="submit">Ara</button>
        </form>
    </div>
</div>

