<div class="row" style="width:100%; height:700px; background-image:url('../images/HappyWorkerMan.jpg')">
	<div class="@*bg-success*@ bg-opacity-25 w-100 h-25">
		<h1>TopSide</h1>
	</div>
	<div class="w-100 h-50 d-flex flex-row p-0">
		<div class="w-25 h-100 p-0">

		</div>
		
		<div class="w-25 h-100 p-0">

		</div>
		<div class="bg-white w-50 p-0 m-3 position-relative" style="height:91%; border-radius: 15px;">
			<h3 class="position-absolute top-0 start-50 translate-middle-x text-uppercase font-weight-bold mt-4" style="width:35%">Daha Çok Müşterİ, Daha Çok Kazanç</h3>
			<div class="container">
				<input class="input-lg w-75 h-25 p-0 mb-4 border border-1 border-dark position-absolute top-50 start-50 translate-middle text-xl tbsearchbar" name="hizmetname" type="search" placeholder="Hizmetiniz Nedir" id="search2" autocomplete="off" class="form-control">

				<div class="results-container2 alert alert-info" style="margin-left:100px;margin-top: 200px; width: 500px;z-index:+3">
					<ul>
						<li class="btn results2 text-white">London</li>
						<li class="btn results2 text-white">New York</li>
						<li class="btn results2 text-white">Madrid</li>
						<li class="btn results2 text-white">Afyonkarahisar</li>
						<li class="btn results2 text-white">Ardahan</li>
						<li class="btn results2 text-white">Ankara</li>
					</ul>
				</div>
			</div>
			
			<button class="btn btn-success w-75 h-25 p-0 mb-4 position-absolute bottom-0 start-50 translate-middle-x" type="submit">
				<h2 class="position-absolute top-50 start-50 translate-middle text-light">Hizmet Ver</h2>
			</button>
			<p class="p-0 mb-0 position-absolute bottom-0 start-50 translate-middle-x">Zaten Hesabınız Var Mı? <a asp-controller="Home" asp-action="Login">Giriş Yapın</a></p>
		</div>
	</div>
	<div class="@*bg-secondary*@ bg-opacity-25 w-100 h-25">
		<h1>BottomSide</h1>
	</div>
</div>