<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-lg bg-body-dark text-ternary">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/penguinicon.svg" width="30" height="30" alt="Penguen Icon">
                    Penguen
                </a>
                <a class="nav-link" asp-controller="Home" asp-action="List" asp-route-category="temizlik">TEMİZLİK</a>
                <a class="nav-link" asp-controller="Home" asp-action="List" asp-route-category="tadilat">TADİLAT</a>
                <a class="nav-link" asp-controller="Home" asp-action="List" asp-route-category="nakliyat">NAKLİYAT</a>
                <a class="nav-link" asp-controller="Home" asp-action="List" asp-route-category="tamir">TAMİR</a>
                <a class="nav-link" asp-controller="Home" asp-action="List" asp-route-category="ozel-ders">ÖZEL DERS</a>
                <a class="nav-link" asp-controller="Home" asp-action="List" asp-route-category="saglik">SAĞLIK</a>
                <a class="nav-link" asp-controller="Home" asp-action="List" asp-route-category="organizasyon">ORGANİZASYON</a>
                <a class="nav-link" asp-controller="Home" asp-action="List" asp-route-category="diger">DİĞER</a>
                <a class="nav-link btn btn-outline-primary me-1" href="#">YARDIM</a>
                <a class="nav-link btn btn-outline-success me-1" asp-controller="Home" asp-action="GiveService">HİZMET VER</a>
                <a class="nav-link btn btn-outline-primary me-1" href="#">GİRİŞ</a>
            </div>
        </div>
    </div>
</nav>