<ul class="nav justify-content-center text-white">
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/images/penguinicon.svg" width="24" height="24" alt="Penguen Icon">
                Penguen
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex justify-content-around navbar-light">
                    <a class="nav-link" href="#">TEMİZLİK</a>
                    <a class="nav-link" href="#">TADİLAT</a>
                    <a class="nav-link" href="#">NAKLİYAT</a>
                    <a class="nav-link" href="#">TAMİR</a>
                    <a class="nav-link" href="#">ÖZEL DERS</a>
                    <a class="nav-link" href="#">SAĞLIK</a>
                    <a class="nav-link" href="#">ORGANİZASYON</a>
                    <a class="nav-link" href="#">DİĞER</a>
                    <a type="button" class="nav-link btn btn-outline-primary me-1" asp-controller="Home" asp-action="Help">YARDIM</a>
                    <a type="button" class="nav-link btn btn-outline-success me-1" href="#">HİZMET VER</a>
                    <a type="button" class="nav-link btn btn-outline-primary me-1" href="#">GİRİŞ</a>
                </div>
            </div>
        </div>
    </nav>
</ul>

