
<div class="col-md-12">
    <section class="border-top" style="height: 500px">
        <div class="container">
            <div class="values">
                <div class="d-flex mt-5 w-auto">
                    <div class="col-md-8 p-2">
                        <br />
                        <br />
                        <br />
                        <h2>Kaliteli Hizmet Al</h2>

                        <p>Teklif aldığın hizmet verenlerin kalitesini daha önceki işlerinde aldıkları gerçek müşteri yorumları sayesinde görür,  güvenle kararını verirsin.</p>
                    </div>
                    <div class="col-md-4 p-2 flex-shrink-1">
                        <img style="width: 400px; height: 300px;" src="/images/KaliteliHizmet.jpg" alt="" class="fluid-end" />
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<div class="col-md-12">
    <section class="border-top" style="height: 500px">
        <div class="container">
            <div class="values">
                <div class="d-flex mt-5 ">
                    <div class="col-md-4 p-2">
                        <img style="width: 400px; height: 300px;" src="/images/Zaman Kazan.jpg" alt="" class="fluid-end" />
                    </div>
                    <div class="col-md-8 p-2 flex-shrink-1 w-75">
                        <br />
                        <br />
                        <br />
                        <h2>Zaman Kazan</h2>

                        <p>Aradığın hizmet için dükkan dükkan dolaşmak ya da tanıdıklarından referans aramakla uğraşma. Teklifler cebine gelsin, zamanın sevdiklerinle sana kalsın.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="col-md-12">
    <section class="border-top" style="height: 500px">
        <div class="container">
            <div class="values">
                <div class="d-flex mt-5 ">
                    <div class="col-md-8 p-2">
                        <br />
                        <br />
                        <br />
                        <h2>Garantide Ol</h2>

                        <p>Gönül rahatlığıyla hizmet alman için, Armut'tan teklif seçimi yaptığın işler garantimiz altında.</p>
                    </div>
                    <div class="col-md-4 p-2 flex-shrink-1">
                        <img style="width: 400px; height: 300px;" src="/images/elsıkışma.jpg" alt="" class="fluid-end" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="col-md-12">
    <section class="border-top" style="height: 500px">
        <div class="container">
            <div class="values">
                <div class="d-flex mt-5 ">
                    <div class="col-md-4 p-2">
                        <img style="width: 400px; height: 300px;" src="/images/uygulama.jpg" alt="" class="fluid-end" />
                    </div>
                    <div class="col-md-8 p-2 flex-shrink-1 w-75">
                        <br />
                        <br />
                        <br />
                        <h2>Kolayca Kullan</h2>
                        <p>Hizmet alacağın servis için özel hazırlanmış sorularına bir dakika içinde cevap ver, bekleyen işlerini kolayca hallet.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


                    