<div class="row justify-content-center">
        <div class="card m-2 table-hover" style="width: 18rem;">
            <img src="/images/temizlik.jpg" class="card-img-top bg-image hover-zoom" alt="temizlik">
            <div class="card-body">
                <h6 class="card-header-pills text-success text-center">Boş Ev Temizliği</h6>
                <hr />
                <p class="card-text opacity-25 "><i class="bi bi-person-fill"></i> 5.000 profosyonel</p>
                <p class="card-text opacity-25"><i class="bi bi-star-fill"></i> 5.000 Onaylı Yorum</p>
            </div>
            <a href="#" class="btn btn-success btn-sm mb-2">TEKLİF AL</a>
        </div>
</div>